@import "~materialize-css/dist/css/materialize.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.input-field {
    margin: 0 auto !important;
    float: none !important;
}

.input-field__auth {
    margin-top: 40px;
}