@import "~materialize-css/dist/css/materialize.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

.Chat {
    overflow: hidden;
    height: 100%;
}

.Main {
    width: 100%;
    display: flex;
}

.users ul {
    list-style: none;
    position: absolute;
}

.users ul li {
    padding-bottom: 20px;
}

.btn_noStyle {
    border: none;
    background-color: inherit;
    color: white;
}

.messageBox {
    height: 500px;
    padding: 20px;
    margin-left: 0 !important;
    display: flex;
    float: none !important;
    flex-direction: column;
    border: 1px solid rgba(214, 214, 214, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 4px rgba(214, 214, 214, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
}

.message {
    display: flex;
    max-width: 70%;
    flex-direction: column;
    margin: 20px 0 0 auto;
    padding: 5px;
    color: black;
    background-color: rgba(99, 216, 175, 0.8);
    border: 1px solid rgba(99, 216, 175, 0.8);
    border-radius: 10px;
}

.message span {
    padding: 5px;
    color: gray;
}

.messageInput {
    display: flex;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 auto;
    height: 15%;
}

.messageInput textarea {
    padding: 8px;
    resize: none;
    min-height: 12vh;
    border: 1px solid rgba(214, 214, 214, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 4px rgba(214, 214, 214, 0.5);
}

.messageInput button {
    /*width: 20%;*/
    /*margin: 5%;*/
    /*height: 45px;*/
    border: 1px solid rgba(214, 214, 214, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 4px rgba(214, 214, 214, 0.5);
}

@media (max-width: 996px) {
    .Main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-open-user-modal {
        margin: 8px;
    }

    .messageBox {
        height: 60vh;
    }
}

@media (max-width: 450px) {
    body, h1, h2, h3, h4, h5, h6, p, span, strong {
        font-size: 0.8rem !important;
        position: relative;
        box-sizing: border-box;
    }

    .Chat {
        display: flex;
        flex-direction: column;
    }

    .messageInput textarea {
        margin: 20px auto !important;
    }

    .messageInput button {
        width: 40%;
    }
}